#header{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: cadetblue;
  color: white;
  text-align: center;
}

#listBox{
  border: 1px dashed grey;
}
#addButton {
  background-color: lightgreen;
  color: red
}

#removeCompletedButton{
  background-color: yellow;
  color: red;
}

#removeAllButton{
  background-color: red;
  color: yellow;
}